#box{
	width:853px;
	height:600px;
	border:1px solid #000;
	position:relative;
	background:url(images/bedd.png);
}
#mosGame{
	width:853px;
	margin: auto;
}
#scoreBox{
	height:80px;
	width:853px;
	text-align:center;
	font-size:35px;
	font-weight:bold;
	line-height:220%;
	color:#000;
	background:#fff;
	border:1px solid #fff;
}
#scoreBox strong{
	color:black; 
}
#mos{
	position:absolute;
	left:200px;
	top:100px;
	width:80px;
}
#mos:hover{
	cursor:pointer;
}
#mos2{
	position:absolute;
	left:100px;
	top:400px;
	width:80px;
}
#mos2:hover{
	cursor:pointer;
}
#mos3{
	position:absolute;
	left:300px;
	top:300px;
	width:80px;
}
#mos3:hover{
	cursor:pointer;
}
#mos4{
	position:absolute;
	left:600px;
	top:400px;
	width:80px;
}
#mos4:hover{
	cursor:pointer;
}
#mos5{
	position:absolute;
	left:700px;
	top:100px;
	width:80px;
}
#mos5:hover{
	cursor:pointer;
}
#mos6{
	position:absolute;
	left:100px;
	top:300px;
	width:80px;
}
#mos6:hover{
	cursor:pointer;
}
#mos7{
	position:absolute;
	left:420px;
	top:240px;
	width:80px;
}
#mos7:hover{
	cursor:pointer;
}
button{
	border:none 0;
	background:none;
	cursor:pointer;
}
.btn{
	border:5px solid#000;
	border-radius:7px;
	background:#000;
	letter-spacing:-1px;
	padding:10px;
	font-size:18px;
	color:#fff;
	font-weight:bold;
}